/* The action exhibited below is called a text selector*/
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1 {
  color: #1109ab;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* The actions exhibited below is called descendant selector*/
/* footer p {
  text-align: center;
  font-size: 16px;
} */

/* This is a nested descendant selector
article header p {
  font-size: 18px;
  font-style: italic;
}*/

#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}
